body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
.name {
  font-size: 30px;
  font-weight: 600;
}
.move-btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}
.move-img {
  height: 50px;
}
.result {
  font-size: 25px;
  font-weight: 600;
}
.moves {
  font-size: 15px;
}
.score {
  font-size: 18px;
  margin-top: 50px;
}
.reset-score-btn {
  padding: 8px 15px;
  font-size: 15px;
}